fastapi
uvicorn[standard]

chromadb
sentence-transformers
#torch==2.8.0
transformers
rank-bm25

langchain-core
langchain-text-splitters

groq

pymupdf
pypdf

numpy
pandas
scikit-learn

python-dotenv
requests
joblib
httpx
python-multipart